$strong_cyan: #26c0ab
$very_dark_cyan: #00494d
$dark_grayish_cyan: #5e7a7d
$grayish_cyan: #7f9c9f
$light_grayish_cyan: #c5e4e7
$very_light_grayish_cyan:	#f4fafa
$medium_cyan: #9fe8df
$white: #ffffff
$red: #c87764
$font_size: 24px
$font_family: 'Space Mono', monospace
$radius_sm: 6px

*
  box-sizing: border-box
  padding: 0
  margin: 0
  outline: 0

  &::after, &::before
    box-sizing: border-box
    padding: 0
    margin: 0
    outline: 0

html,
body
  height: 100%
  background-color: $light_grayish_cyan

body,
input,
button
  font-family: $font_family
  font-size: $font_size
  color: $dark_grayish_cyan

body
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto 1fr
  gap: 30px
  justify-content: center
  align-items: center
  padding: 52px 0

input[type=number]
  -moz-appearance: textfield

  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0
    appearance: none

input
  width: 100%
  background-color: $very_light_grayish_cyan
  border: 2px solid $very_light_grayish_cyan
  display: block
  text-align: right
  color: $very_dark_cyan
  padding: 0 15px
  border-radius: $radius_sm

  &:focus
    border-color: $strong_cyan

.input-icon
  display: grid
  grid-template-rows: repeat(2, 1fr)
  grid-template-columns: 1fr
  gap: 5px
  margin-bottom: 29px
  position: relative

  label
    grid-column: 1/2
    grid-row: 1/2

  input
    grid-column: 1/2
    grid-row: 2/3

  .icon
    grid-row: 2/3
    grid-column: 1/2
    padding-left: 17px
    width: 50px

label,
.label
  font-size: 16px
  padding-top: 9px

fieldset
  border: none
  margin-bottom: 20px

.main
  &-header
    .logo
      img
        display: block
        margin:  0 auto

  &-content
    background-color: $white
    border-radius: 16px
    padding: 23px
    margin: 0 auto 11px
    width: 100%

.result
  &-container
    padding: 40px 23px 24px
    background-color: $very_dark_cyan
    border-radius: 16px

    display: flex
    flex-direction: column
    gap: 22px

    button
      display: block
      width: 100%
      background-color: $strong_cyan
      color: $very_dark_cyan
      text-transform: uppercase
      padding: 10px
      border: 0
      border-radius: $radius_sm
      margin-top: 11px
      font-size: 20px

      &:not(:disabled)
        &:hover
          cursor: pointer
          background-color: $medium_cyan

        &:focus
          background-color: #0d686d
          opacity: .8
          transition: all 1s

      &:disabled
        opacity: .4

  &-amount
    display: grid
    grid-template-columns: 1fr minmax(100px, 1.2fr)
    gap: 10px
    align-items: center

    .quantity
      color: $strong_cyan
      font-size: 30px
      line-height: 40px
      overflow: hidden
      text-align: right
      height: 60px

.detail
  .title
    font-size: 16px
    display: block
    color: $white

  .description
    font-size: 14px
    display: block
    color: $grayish_cyan

.tip
  &-options
    display: grid
    grid-template-columns: repeat(2, minmax(147px, auto))
    gap: 15px
    margin-top: 16px

  &-input
    position: relative

    label
      display: block
      width: 100%
      height: 100%
      cursor: pointer
      background-color: $very_dark_cyan
      color: $white
      text-align: center
      padding: 7px 6px
      font-size: 23px
      border-radius: $radius_sm

    input
      width: 100%
      height: 100%
      border-radius: $radius_sm
      text-align: right

      &::placeholder
        text-align: center

    input[type=radio]
      display: none

      &:checked
        + label
          background: $strong_cyan
          color: $white

      &:hover
        + label
          background: $medium_cyan
          color: $very_dark_cyan
          transition: all .5s

    &.active
      label
        background-color: $strong_cyan
        color: $very_dark_cyan

    &.custom
      label
        background-color: $very_light_grayish_cyan
        color: $dark_grayish_cyan
    
.number-people-container
  padding-top: 6px

.calculator
  padding: 0 10px 7px

form
  &.invalid
    input
      &:invalid
        border-color: $red

        ~ label
          &::after
            content: "Can't be zero"
            display: inline-block
            font-size: 16px
            color: #c87764
            right: 10px
            position: absolute

@media screen and ( min-width:  998px)
  body
    padding: 0
    grid-template-rows: auto
    gap: 0

  .main
    &-content
      max-width: 924px
      display: grid
      grid-template-columns: 1fr 1fr
      gap: 24px
      padding: 32px
      margin-top: 13px
      border-radius: 22px

    &-header
      align-self: self-end
      padding-top: 9px

  .tip
    &-options
      grid-template-columns: repeat(3, minmax(116px, auto))
      padding: 0 12px 6px 7px
      gap: 16px

    &-input
      input
        font-size: 23px
        padding: 0 10px

      label
        padding: 7px 10px

  label,
  .label
    padding-left: 6px
    padding-top: 9px

  .input-icon
    padding-right: 10px
    padding-left: 8px
    gap: 0

    &:last-of-type
      margin-bottom: 0

    &:not(:last-of-type)
      margin-bottom: 30px
    
    label
      margin-bottom: 5px
      padding-left: 0

    input
      padding: 0 19px 0 32px
      height: 44px

    .icon
      padding-left: 16px

      img
        margin-top: 14px
        display: block

  .result
    &-container
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(4, 1fr)
      gap: 0
      padding: 32px 44px 24px
      height: 413px

      button
        grid-row: 4/5
        height: 48px
        padding: 0 6px
        margin-top: 28px

    &-amount
      &:first-of-type
        grid-row: 1/2

      &:last-of-type
        grid-row: 2/3

        .detail
          padding-top: 14px

      .quantity
        font-size: 46px
        line-height: 57px